*{
margin: 0;
padding: 0;
width: 100%;
background-color:ghostwhite;

}
.form {
    display: block;
    width: 30%;
    height: 300px;
    border: 1px solid green;
    padding: 20px;
    margin: 0 auto;
    font-weight: 700px;
    margin-top: 12%;
    background-color: bisque;
   }

   .form input {
    width: 100%;
    padding: 10px 0;

    
   }
  
       .form input.dangki{margin-top:1em;background-color:chartreuse;}
       .form input.dangki:hover{background-color: gold;}



       @media screen and (max-width:768px){
     
         
        body .form{
            width: 80%;
            }
        }
        @media screen and (max-width:1000px) {
            body .form {
                width: 50%;
            }}