.lienhe-box{
    margin-top:-40px;
}

.lienhe-box{
    background-color: bisque;
    position: relative;
    top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lienhe-box .lienhe-connect-title{
    justify-content: center;
    align-items: center;
    text-align: center;
  margin-top:100px;
  

}
.lienhe-box .lienhe-connect-title span{
    font-size: 25px;
    color:black;
}
.lienhe-box .lienhe-connect-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon{
    position: relative;
}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon i{
    width:35px;
    height: 35px;
    background-color:blue;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    justify-content: center;
  cursor: pointer;
    text-align: center;
    padding: 5px 5px;
   
}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon a i {
    color: aliceblue;
 
   

}
.lienhe-connect-icon{

    
    width:auto;
    height: auto;
    background-color: darkgray;
    padding: 2px;
    border: 2px solid chartreuse;
    border-radius: 50%;
}
.lienhe-connect-icon:hover span{
display: block;
transition: 0.5s;
}
.lienhe-connect-icon span{display: none;
transition: 0.5s;}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon a p{
    width: 40px;
    display: inline-block;
}
.lienhe-box .lienhe-body .lienhe-top-box .lienhe-top .lienhe-connect .lienhe-connect-icon-box {
    width:100%; height:auto;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    text-align: center;

}
.lienhe-box .lienhe-body .lienhe-top-box .lienhe-top .lienhe-connect .lienhe-connect-icon-box .header-social-hover{
display: block;
position: relative;
}
/* span.hien{
    color: #000;
    font-size: 20px; */

.lienhe-box .lienhe-body .lienhe-top-box .lienhe-top .lienhe-connect .lienhe-connect-icon-box .lienhe-connect-icon .fab:hover  {
background-color: darkkhaki;
transform: scale(1.2);
transition: 0.3s;
}


.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon .fa-phone-alt{
   background-color: darkgreen;
}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon .fa-youtube{
    background-color: red;
}
.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon .header-social-hover{
    width: auto;
    height: auto;
    background-color: blanchedalmond;
    justify-content: center;
    
}
.lienhe-mid-items .lienhe-mid
{
    margin-top: 10px;
}


.lienhe-box .lienhe-connect-icon-box .lienhe-connect-icon .fa-facebook-f:hover .faceb{
    opacity: 1;
    display: block;
}
.lienhe-mid{
   margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.lienhe-mid .lienhe-mid-items{
    width:30%;
    height: 30%;
}
.lienhe-mid .lienhe-mid-items .lienhe-mid-img-box img{
    
    width:70% ; height:  230px  ;

}
.lienhe-bottom-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.lienhe-bottom-box .lienhe-bottom .lienhe-map{
    width: 100%;
    height: 100%;
} 
.lienhe-bottom-box .lienhe-bottom .lienhe-address-title {
    margin-top: 20px ;
}
.lienhe-bottom-box .lienhe-bottom .lienhe-address-title span{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.lienhe-bottom-box .lienhe-bottom .lienhe-map iframe{
    width: 100%;
    height: 700px;
}
@media(max-width: 768px){
    .lienhe-mid{
        top: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    margin: 0 auto;
position: relative;}

.lienhe-mid .lienhe-mid-items{
    display:block;
    width:auto;
    height:auto;
    position: relative;
}
.lienhe-mid .lienhe-mid-items .lienhe-mid-img-box img{
    
    width:60% ; height:  180px  ;

}

.lienhe-bottom-box .lienhe-bottom .lienhe-address-title span{font-size: 15px;}
.lienhe-box .lienhe-connect-title span{
    font-size: 15px;}
    .lienhe-bottom-box .lienhe-bottom .lienhe-map iframe{
        width: 100%;
        height: 400px;
    }
}
@media(max-width: 418px){
    .lienhe-bottom-box .lienhe-bottom .lienhe-map iframe{
        width: 100%;
        height: 300px;
    }
}